<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Django E-Commerce {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href= "{% static 'assets/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/extra.css' %}" media="screen" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand">Django E-Commerce</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'index' %}">Início</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'catalog:product_list' %}" id="download">Categorias <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">

              {% for category in categories  %}
                  <li><a href="{{ category.get_absolute_url }}"> {{ category }} </a></li>
              {% endfor %}

              </ul>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contato</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sair</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Entrar</a></li>
            <li><a href="{% url 'accounts:register' %}">Registro</a></li>
          {% endif %}
            <li><a href="{% url 'checkout:cart_item' %}">Carrinho</a></li>
          </ul>
        </div>
        </div>
        </div>
        <div class="container margin-top">
        {% block messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endblock %}
        {% block container %}{% endblock %}
        <footer>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled">
                  <li class="pull-right"><a href="#top">Voltar ao Topo</a></li>
                  <li><a href="">Início</a></li>
                  <li><a href="">Produtos</a></li>
                  <li><a href="">Contato</a></li>
                  <li><a href="">Termos e Privacidade</a></li>
                </ul>
              </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "assets/bootstrap.min.js" %}"></script>
</body>
</html>
