{% extends "base.html" %}

{% load pagination %}

{% block title %}
    Listagem de Produtos |{{ block.super }}
{% endblock %}

{% block container %}
    <div class="page-header">
        <h1>Produtos</h1>
    </div>
    <div class="row">
    {% for product in products %}
        {% include "catalog/product_item.html"%}
    {% endfor %}
    </div>
    {% pagination request paginator page_obj %}
{% endblock %}
